{{> header }}

   {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }}!</h1>
        <p>Este es el clima de Ecuador</p>
        <p>Quito, </p>
    </div>

{{> footer }}
   